.zone{
  height: 80px;
}

.logo{
  margin-bottom: 70px;
}

.top{
  text-align: center;
  color: #D6B452;
}

.polite{
  text-align: center;
}

.text{
  text-align: center;
}


.signature{
  text-align: left;
  margin-bottom: 3px;
}

.flag{
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}



