<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <%= image_tag 'https://res.cloudinary.com/millesime33/image/upload/v1664195454/logo_brindos-par_barxkz.png', class: 'img-fluid' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <p class="top">Notre conciergerie vous contactera très bientôt !</p>

      <p class='polite'>Chère Madame XX / Cher Monsieur XX,</p>

      <p class="text">Afin de préparer votre prochain séjour, pourriez-vous s’il vous plait nous communiquer votre moyen de communication préféré ?</p>

      • SMS/Whatsapp
      à pré-remplir le numéro de tel avec option de modification

      • Téléphone à pré-remplir le numéro de tel avec option de modification

      à Quel serait le meilleur moment pour vous appeler ?
      - Matin
      - Midi
      - Après-midi
      - Soirée

      • Mail à pré-remplir le mail avec option de modification


      <p class= "regards">Dans l'attente de vous accueillir à Anglet" </p>
      Olivier Richard
      Maitre de Maison

      +33 (0)5 59 51 53 63
      www.brindos-cotebasque.com
    </div>
  </div>
  <div class="row">
    <div class="col-4 mx-auto">
      <%= render "vips/form" %>
    </div>
  </div>
</div>
