<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <%= image_tag 'https://res.cloudinary.com/millesime33/image/upload/v1664195454/le-bordelais_znf2yz.png', class: 'img-fluid' %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mx-auto">
      <%= render "vips/form" %>
    </div>
  </div>
</div>
