<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-1 mx-auto">
      <%= link_to 'Brindos', new_brindos_vip_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-1 mx-auto">
      <%= link_to 'Sacy', new_sacy_vip_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-1 mx-auto">
      <%= link_to 'Raba', new_raba_vip_path %>
    </div>
  </div>

  <div class="row">
    <div class="col-1 mx-auto">
      <%= link_to 'Megève', new_megeve_vip_path %>
    </div>
  </div>
</div>

