<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-9 col-lg-8 mx-auto">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1657396895/Mille%CC%81sime_Etoiles_omdyek.png' %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= image_tag 'https://res.cloudinary.com/da2krghvd/image/upload/v1657396895/Mille%CC%81sime_Etoiles_omdyek.png' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

