<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-1 mx-auto">
      <%= link_to 'Brindos', brindos_lac_et_chateau_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-1 mx-auto">
      <%= link_to 'Sacy', chateau_de_sacy_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-1 mx-auto">
      <%= link_to 'Raba', domaine_de_raba_path %>
    </div>
  </div>

  <div class="row">
    <div class="col-1 mx-auto">
      <%= link_to 'Megève', le_soleil_d_or_path %>
    </div>
  </div>
</div>

