<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <%= image_tag 'https://res.cloudinary.com/millesime33/image/upload/v1664195454/logo_GHSO-par_ewlqsb.png', class: 'img-fluid logo' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 mx-auto">
      <%= image_tag 'https://media0.giphy.com/media/241LJn6LFZhlkhrumM/giphy.gif?cid=ecf05e47ij7njsktqv2iosdmhyl5z48qeojmxxdt7ssqlswe&rid=giphy.gif&ct=g' , class: 'img-fluid'%>
    </div>
  </div>
</div>

