<div class="zone"></div>
<div class="container">
  <div class="row">
    <div class="col-4 mx-auto">
      <%= render "vips/form" %>
    </div>
  </div>
</div>


<form action="/cocorico" method="GET">
    <input type="text" name="serialNumber" />
    <input type="submit" value="Submit" />
</form>
