<h1>Bonjour Yann</h1>

<p><%= @megeve_vip.email %> souhaite passer par la conciergerie pour sa réservation prochaine</p>
<p> Méthode(s) préférée(s)</p>
<% if @megeve_vip.best_ways.present? %>
  <% @megeve_vip.best_ways.each do |n| %>
    <p><%= n.name %></p>
  <% end %>
<% end %>
