.center{
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 7px;
}


.btn-validate{
  background: #d6b452;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
  color: white;
}

.btn-validate:hover{
  background: white;
  color: #d6b452;
}

.btn-cross{
  background: white;
  border-radius: 5px;
  width: 100%;
  margin-top: 30px;
  color: #d6b452;
  border: 1px solid #d6b452;
}

.btn-cross:hover{
  background: #d6b452;
  color: #d6b452;
}
